<div class=" bg-white fixed w-4/12 h-screen flex items-center">
<div class="w-4/5 m-auto">
  <img src="assets/images/logo.png " alt="Logo of Angular Post"/>
  <p class="text-justify">
    Angular Post is a dedicated platform designed for Angular developers seeking a comprehensive and up-to-date resource for staying informed about the latest developments in the Angular ecosystem. With a commitment to providing timely updates, Angular Post delivers a daily stream of important news, releases, and announcements relevant to Angular development. Whether it's the latest framework features, community contributions, or best practices, Angular Post serves as a centralized hub where developers can access crucial information to enhance their Angular projects. By curating and presenting content on a daily basis, Angular Post empowers developers to stay at the forefront of Angular technology, fostering a thriving community of informed and engaged Angular enthusiasts.
  </p>
</div>
</div>
