  <div class=" md:flex items-center text-white h-[12rem] text-center">
    <div class="hamburguer-menu block md:hidden">
      <div class="hamburguer-bar w-[3rem] h-[0.5rem] bg-white mb-[0.5rem]"></div>
      <div class="hamburguer-bar w-[3rem] h-[0.5rem] bg-white mb-[0.5rem]"></div>
      <div class="hamburguer-bar w-[3rem] h-[0.5rem] bg-white mb-[0.5rem]"></div>
    </div>
    <hr class="bg-white w-full md:w-1/5 md:mr-[10px]">
    <ul class="md:flex items-center justify-betweenv w-full md:w-3/4 m-auto text-lg font-black">
      <li class="m-2.5 transition ease-in-out hover:scale-150 "><p class="m-10"><a routerLink="posts">Posts</a></p></li>
      <hr class="bg-white w-full md:w-1/5 md:m-[10px]">
      <li class="m-2.5 transition ease-in-out hover:scale-150"><a routerLink="register">Register</a></li>
      <hr class="bg-white w-full md:w-1/5 md:m-[10px]">
      <li class="m-2.5 transition ease-in-out hover:scale-150"><a routerLink="login">Login</a></li>
      <hr class="bg-white w-full md:w-1/5 md:m-[10px]">
      <li class="m-2.5 transition ease-in-out hover:scale-150"><a routerLink="about">About</a></li>
    </ul>
    <hr class="bg-white w-full md:w-1/5 md:ml-[10px]">
</div>
