  <div class=" flex items-center  text-white h-[12rem]">
    <hr class="bg-white w-1/5 mr-[10px]">
    <ul class="flex items-center justify-between w-3/4 m-auto text-lg font-black">
      <li class="m-2.5 transition ease-in-out hover:scale-150 "><p class="m-10"><a routerLink="posts">Posts</a></p></li>
      <hr class="bg-white w-1/5 m-[10px]">
      <li class="m-2.5 transition ease-in-out hover:scale-150"><a routerLink="register">Register</a></li>
      <hr class="bg-white w-1/5 m-[10px]">
      <li class="m-2.5 transition ease-in-out hover:scale-150"><a routerLink="login">Login</a></li>
      <hr class="bg-white w-1/5 m-[10px]">
      <li class="m-2.5 transition ease-in-out hover:scale-150"><a routerLink="about">About</a></li>
    </ul>
    <hr class="bg-white w-1/5 ml-[10px]">
</div>
