<div class="pl-[2rem] pr-[2rem] pb-[2rem] text-justify">
  <img
    src="../../../assets/images/computer.png"
    alt=""
    class="m-auto"
  >
  <div class="text-justify ">
    <p class="text-center m-[auto] w-[80%] italic">
      Angular Post is a dedicated platform designed for Angular developers seeking a comprehensive and up-to-date
      resource
      for staying informed about the latest developments in the Angular ecosystem.
    </p>
    <hr class="mt-[2rem] mb-[2rem]">
    <p class="text-center m-[auto] w-[80%] font-bold italic">Register here to get full access to Angular Post!</p>
  </div>
</div>