<angular-post-header />
<div class="bg-black text-white w-full rounded-l-lg">
    <div class="pt-[14rem] text-justify">

      @for(video of videos(); track video.id) {
        <div class="w-3/4 m-auto">
          <div class="video mb-6">
              <iframe [src]="sanitizeVideo(video.link)" width="100%" height="500px" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="text p-4 mb-[2.5rem]">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
              provident itaque neque officia asperiores, id quia laboriosam
              necessitatibus sunt exercitationem, est perspiciatis. Magni in hic
              repudiandae soluta exercitationem officia inventore est ipsa nostrum
              eum, qui harum aliquam nisi nam molestias nulla ullam assumenda.
              Voluptates maiores a minus maxime est iure, ut, harum dolor, esse
              praesentium reprehenderit excepturi facilis facere obcaecati vero
              aspernatur et.</p>
          </div>
        </div>
        <hr class="bg-white w-full">
    }


      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
        provident itaque neque officia asperiores, id quia laboriosam
        necessitatibus sunt exercitationem, est perspiciatis. Magni in hic
        repudiandae soluta exercitationem officia inventore est ipsa nostrum
        eum, qui harum aliquam nisi nam molestias nulla ullam assumenda.
        Voluptates maiores a minus maxime est iure, ut, harum dolor, esse
        praesentium reprehenderit excepturi facilis facere obcaecati vero
        aspernatur et. Vitae, exercitationem laboriosam eum dolore rerum, sint
        adipisci velit aliquid, numquam cumque ullam sequi officiis. Consectetur
        nemo aspernatur dignissimos enim quidem atque illum fuga consequatur
        porro quos. Maiores excepturi molestiae in consequatur eum nisi fugiat
        praesentium dignissimos.
      </p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, porro
      molestias possimus similique architecto saepe sint error repudiandae
      quisquam itaque atque et earum dolor quam deserunt voluptatum veniam nam
      quidem iure doloribus nihil labore? Possimus quia, illum eos odit
      voluptates beatae saepe praesentium exercitationem deserunt cumque! Ipsa
      molestias facere asperiores vero veniam dolorum eligendi ratione sint
      minima beatae cum, placeat eius veritatis quaerat, et quas! Debitis nihil
      omnis doloremque ipsa quam quia, minus non saepe optio quidem illo ex
      itaque dicta minima inventore sequi vel illum aperiam adipisci ducimus
      tempore! Consequatur dolores nisi architecto eligendi atque, error
      ratione, blanditiis, nemo optio recusandae quia odio numquam. Dolor dicta
      ad voluptate corporis assumenda soluta facilis quibusdam velit dolores
      nesciunt laborum numquam dolore ipsam earum natus eius excepturi eum
      deserunt error, alias vitae aperiam aspernatur voluptatum. In culpa
      doloremque enim voluptatem quos ad nihil laboriosam tenetur officia.
      Pariatur, quia porro nemo molestiae rem, facilis reprehenderit quos sunt
      vero quasi facere corrupti! Libero delectus iusto ratione harum aliquid.
      Repudiandae quasi velit molestias nemo in soluta accusantium, quo tenetur
      odio, sed, dolore consectetur repellendus a ex obcaecati impedit harum
      facilis eaque ab odit earum eligendi quae. Dignissimos doloremque dolor
      quod repudiandae tenetur minima provident numquam temporibus! Rem facere
      deserunt consectetur quibusdam, aliquid laborum enim, recusandae magni sit
      dolorem, magnam debitis necessitatibus quo amet! Corrupti nobis velit ut
      accusamus est voluptates rerum deleniti sit quasi dolor nemo suscipit eius
      magnam maiores veniam ipsam eligendi qui earum dignissimos fugit quae
      reiciendis animi, sed iste. Quisquam nesciunt facere repellat pariatur
      eligendi mollitia illum asperiores sequi excepturi vel, quaerat aperiam
      aliquam cum minima sit odit ea similique optio molestias neque repellendus
      totam, fugit eveniet. Impedit sequi asperiores quod aperiam cumque velit
      ipsum deserunt tempore nulla minus assumenda, totam saepe! Commodi
      voluptates a praesentium dolorem obcaecati eos beatae totam laboriosam
      perspiciatis laudantium tempore veritatis libero, vel reiciendis aut
      dolorum at quas fugit voluptatem. Officiis repellat accusantium asperiores
      dignissimos sit dolorum, quas ut animi enim magni harum molestias? Sit
      quis est fugiat necessitatibus deserunt, vel repellat, voluptas labore quo
      nulla ducimus sed dicta debitis quos? Similique id voluptas pariatur alias
      porro et ullam illum magni illo, enim, blanditiis repellat, animi quia vel
      rerum vitae. Quod dolorem dignissimos ab laborum ducimus eaque iste quo!
      Blanditiis repellat voluptatum asperiores officia illum minima incidunt
      magni ipsum, aliquam aspernatur non officiis qui facere odio dicta, iste
      deleniti vel inventore fuga eius at placeat quaerat animi dolore. Dolor
      amet quas, cumque saepe, quibusdam minima soluta laboriosam, praesentium
      dicta corporis perferendis eius odit neque ipsam dignissimos facilis
      veritatis iure? Sunt ducimus dolore quo optio quaerat! Architecto, illo?
      Sint facere voluptas nam quasi, suscipit tempora repudiandae! Provident
      tenetur consectetur soluta accusantium, incidunt beatae ut, exercitationem
      aliquid quas eius reiciendis dolorem, molestias voluptatum tempora unde
      saepe repellendus illum perspiciatis quis! Atque quibusdam explicabo
      tenetur optio deleniti quis. Fugit voluptates voluptas repellat corporis
      quaerat veniam perspiciatis placeat, optio quo, eveniet harum consectetur
      fugiat nesciunt sit est ullam magni. Doloribus ipsa sequi quisquam nobis
      facilis provident. Libero eveniet dolorum, facilis temporibus soluta
      praesentium cumque perspiciatis eaque atque quasi quam nobis esse.
      Pariatur qui rem facere modi in repellendus natus numquam delectus porro
      optio, voluptatem veritatis, a tenetur accusamus dolor aperiam distinctio
      ipsam reiciendis sequi sit laudantium voluptates ad! Dicta sint expedita
      ullam omnis laudantium voluptatum dolore rem? Quae maxime alias in
      blanditiis necessitatibus quibusdam, iusto aut ipsum! Quae ducimus officia
      minus exercitationem rerum, fugiat amet vitae. Sunt libero quam illo
      quaerat esse temporibus corporis tempore perspiciatis, excepturi
      accusantium repellendus. Expedita harum doloremque praesentium. Cumque
      corporis dolores sint, laboriosam voluptatum, consectetur assumenda dicta
      eaque id sequi fugit, facilis vitae! In quia minus mollitia aliquam eum,
      ullam dolores natus soluta provident explicabo minima fugiat hic eveniet
      consequatur labore, voluptatibus adipisci itaque perspiciatis praesentium
      rem culpa saepe! Enim eos accusantium, recusandae ipsa quia nobis cumque
      ipsum pariatur voluptates, voluptatum rem provident voluptate quas odit
      nulla unde adipisci dignissimos optio quaerat delectus! Harum id,
      eligendi, alias nam ea aut culpa rem enim modi quis iste vel
      necessitatibus pariatur quas veniam voluptates aliquam aperiam amet vero
      sit perspiciatis illum qui! Tenetur, minima harum qui ab molestias
      doloribus laudantium? Possimus incidunt nulla consectetur, ut vitae earum
      neque corrupti similique pariatur dolorem, non recusandae porro placeat ea
      culpa! Architecto pariatur rerum, quos minima officiis asperiores
      adipisci! Explicabo facilis nemo sapiente voluptatem aliquid repellat
      culpa rem? Alias, impedit beatae eum eius aliquam reprehenderit eligendi
      amet maiores atque dignissimos, doloribus veritatis. Assumenda nemo eius
      error vel? Quia aut sed dolores similique quibusdam quasi culpa magnam
      deleniti veniam modi totam, minima dolorum quidem adipisci et quisquam
      eum! Non sunt illo, ipsum quae facilis incidunt laudantium harum quidem
      quisquam necessitatibus! Suscipit libero alias, natus quo et odit eligendi
      cupiditate amet ex sequi iusto laboriosam unde, adipisci voluptate a
      perspiciatis esse! Placeat distinctio quaerat expedita culpa id, quidem
      officiis perspiciatis impedit ad dolorem! Ipsa repudiandae, numquam iusto
      quasi dicta ratione suscipit repellat veniam eius aliquid totam explicabo
      recusandae earum? Voluptatum delectus illum, esse sit repellat suscipit
      sunt enim ratione aperiam repudiandae adipisci porro possimus iusto. Eius
      rem eaque neque, nam cumque vel quo dicta deserunt sequi laborum iste
      dignissimos voluptates delectus autem consectetur expedita id totam
      blanditiis laboriosam corporis, alias est sunt. Illum magni aliquid culpa
      accusamus eius ut omnis similique unde saepe. Repudiandae sequi incidunt
      eaque voluptates. Sequi quaerat odio deleniti sed incidunt nesciunt
      nostrum, quia illo nobis. Voluptates repudiandae, necessitatibus hic, enim
      ex nesciunt reiciendis quisquam quam dolorum quasi itaque vitae dolorem
      cupiditate molestias ullam natus consequatur repellendus tempore, quidem
      odio soluta? Quisquam consectetur, ex quos beatae perspiciatis inventore,
      temporibus excepturi, voluptate quaerat impedit quod culpa nam facere
      reprehenderit suscipit natus ad molestiae. Dicta quia nostrum, incidunt
      voluptate reiciendis perspiciatis, error porro sequi repellendus deserunt
      delectus eum quisquam! Ex, commodi, ad tempore eos architecto enim sit
      accusantium recusandae repudiandae pariatur animi doloribus minima.
      Voluptatum aliquid, obcaecati deleniti maiores nostrum dignissimos.
      Maiores deserunt repellat quisquam a nisi ipsum natus, soluta, temporibus
      voluptas delectus, non autem? Sed quidem, ut fugit dolores quod possimus
      totam, facere aut reprehenderit consequatur aliquid aperiam voluptatem
      inventore voluptas laborum architecto incidunt soluta sunt est laudantium
      ratione quo dicta! Quasi rerum mollitia eligendi quae facere impedit eius
      adipisci. Pariatur consequuntur, at illo iusto, quia earum nisi
      repellendus molestias ab ut velit voluptate eligendi laudantium minima!
      Unde repellat eum iure. Dolorum laboriosam sunt aut mollitia quidem vitae
      quo quisquam quos deserunt! Aspernatur eos laborum corporis porro,
      consectetur dolorum blanditiis error repellendus veniam, mollitia
      recusandae quibusdam molestias et corrupti iste doloremque rerum. Facere
      possimus dolor esse, doloribus labore adipisci odit debitis nemo facilis
      beatae, sunt, quos ducimus fugit consequuntur. Voluptate aliquam ipsum
      voluptatum quo autem obcaecati ad optio quae omnis. Voluptatem totam
      dolores sed repellendus quidem, quaerat aperiam inventore molestias? Modi,
      veniam soluta? Nam excepturi maiores quia! Similique magnam illum,
      reprehenderit, minus, beatae sit quisquam molestiae corporis quo
      consequatur repellendus incidunt iste facilis ipsam doloremque voluptate
      obcaecati aperiam est cum tenetur excepturi minima dolorum provident
      delectus. Odit similique minima aspernatur consequuntur, aperiam, ullam
      quos accusantium distinctio repudiandae laboriosam voluptas omnis a. Vitae
      ab aperiam vero quasi quibusdam provident ut quidem facere dolorem
      accusantium. Nisi cum facere, alias recusandae amet aspernatur consectetur
      laborum voluptatum nemo pariatur ducimus ab reiciendis commodi dolorum
      quis optio a quibusdam? Quo aut quam culpa possimus obcaecati cupiditate
      autem harum tempora soluta fugiat eum, nobis sapiente ducimus cumque quia
      earum consequatur nihil eligendi. Nesciunt placeat odio error delectus
      cumque, maxime at deleniti voluptas odit numquam ducimus aspernatur.
      Provident beatae officia omnis quidem iste ducimus doloribus pariatur
      repellendus. Praesentium eligendi aspernatur asperiores rerum, similique
      quis? Tenetur, repudiandae dolor. Distinctio consequuntur optio iusto eos
      ut perferendis architecto veniam itaque voluptatum deserunt molestias
      molestiae sunt animi, culpa magni labore incidunt ipsam soluta quisquam
      velit nobis necessitatibus iure. Corrupti quae mollitia aliquam soluta
      quos fuga natus eum ex. Libero ullam alias ratione, cumque quos aspernatur
      odio id fugiat reprehenderit repellendus necessitatibus labore quibusdam,
      autem dolores fugit delectus harum doloribus, atque eum voluptate
      laudantium! Quod repellendus inventore molestias iste ipsam id quia
      corrupti repudiandae nemo doloremque velit excepturi quam architecto ipsum
      sit magni itaque, harum voluptatem tempora? Vero veritatis blanditiis at
      quas fugit ullam accusamus culpa sint, magnam ea consequatur a laudantium
      odit, doloribus asperiores reiciendis id repudiandae. Natus officia,
      ducimus ullam est nostrum pariatur sapiente quam saepe et vitae tempora
      error facilis amet voluptates ex cupiditate totam obcaecati nobis
      architecto, voluptate eos sequi rem! Perferendis in fuga voluptates
      laborum delectus? Similique incidunt quos doloribus magni nesciunt, ab
      odio aut tenetur velit libero nemo adipisci cum iusto eos minus totam
      placeat assumenda neque nulla quo commodi fugit earum, deleniti enim?
      Placeat quod voluptatibus necessitatibus odio minima, impedit alias.
      Excepturi neque hic tenetur alias distinctio molestiae ea, maiores
      reiciendis dolorum officiis ipsam autem veniam inventore sit eius delectus
      ipsa? Sed dolor tempore alias odio quam maxime, cupiditate voluptates hic
      ut voluptatum error. Deleniti sit at quod, expedita fuga commodi
      excepturi, accusantium mollitia vitae quasi architecto quam, velit ea
      quibusdam aliquid. Facilis veritatis adipisci voluptatum, obcaecati ex
      voluptas magnam dolor velit, fugit sunt nemo, illum eligendi porro aperiam
      qui sit rem. Rem quisquam totam quos dolorum eaque impedit ut vel quidem
      ullam magni explicabo fugit animi dignissimos, illum ipsa hic, modi
      reiciendis illo velit! Laudantium libero voluptates a nam delectus officia
      nobis sit. Nesciunt asperiores impedit aspernatur aperiam placeat, in
      totam distinctio tenetur autem sed excepturi corrupti fugiat odit
      accusantium modi necessitatibus inventore dolorum ab veritatis nihil
      voluptatem maxime! Quis, eos voluptatum debitis quo quos error iure, autem
      natus illo harum optio corporis ipsum pariatur omnis! Magni, et voluptas
      animi quos quam suscipit exercitationem nam eius sit molestiae odit at
      repudiandae iure quod vero. Ex fugit odit culpa necessitatibus nobis odio
      expedita voluptatum, sint facere! Repellat, debitis, quod officiis
      assumenda tempora nisi, non incidunt expedita inventore libero enim beatae
      ea voluptates explicabo similique tempore alias maxime nemo mollitia!
      Natus voluptate voluptates eum nihil maxime fugiat vero repudiandae qui
      magnam atque vel, explicabo perferendis rerum? Ducimus sint animi sit
      accusantium aliquam laborum? Qui odit, commodi quia, sit cumque voluptate
      cupiditate mollitia temporibus dolorum ab magni tenetur ut inventore
      aspernatur vel quaerat natus est veritatis tempore sint? Odit doloribus,
      incidunt quidem id, esse, veniam inventore architecto voluptatem enim
      excepturi soluta facere tenetur quas iusto. Quod corporis quisquam
      provident amet aliquid autem corrupti quis itaque accusantium, ipsa est
      reiciendis explicabo numquam perferendis quasi beatae, atque qui nemo
      rerum et ab asperiores facilis. Assumenda laborum incidunt asperiores
      voluptatibus minus, dolorem quos tempore architecto obcaecati labore
      eaque, iusto aspernatur tenetur qui distinctio ratione nisi id nam.
      Commodi sunt ut, velit maxime asperiores aliquam earum repudiandae alias
      accusamus ratione atque repellendus voluptate dolores temporibus quisquam
      dolor non vel odit similique quis, quam hic pariatur. Odio earum deleniti
      aperiam itaque autem voluptate dolore illum perferendis aliquam ipsam
      totam quidem ducimus eum, assumenda sapiente in voluptatum, veniam nisi
      consequuntur quisquam? Accusamus quod magni sunt nulla illum veritatis
      velit temporibus ducimus sapiente ex sequi, dolorum repellendus optio,
      voluptatibus, doloribus numquam vel alias beatae repudiandae. Qui, ab aut
      officia quas amet excepturi voluptatum deserunt! Ex totam suscipit
      necessitatibus libero minima optio. Fugiat autem ipsam cum odio iste illo
      culpa rem mollitia, rerum quod cupiditate libero non aliquam reprehenderit
      excepturi adipisci! In quas sint, temporibus magnam molestias iste ducimus
      iusto facilis repellat voluptas laborum officiis voluptatibus nihil,
      incidunt quia debitis accusamus quam inventore! Unde ipsa illo temporibus
      sed quaerat vero eveniet culpa, impedit tenetur molestias dolores, autem
      dignissimos voluptatum nihil. In ipsum vitae dicta. Molestias laborum iure
      iusto necessitatibus qui quae quasi adipisci odio ipsa eos quaerat,
      temporibus quis velit nobis asperiores molestiae. Consequuntur tenetur
      autem deleniti, fuga at blanditiis provident debitis deserunt adipisci,
      quis suscipit libero nihil quae accusantium, itaque error. Harum sed
      dolores blanditiis vel cupiditate, aspernatur ullam dolor. Ipsam vitae
      iste delectus facere vero maiores sit impedit porro quam et sed eaque at
      fuga fugiat voluptate dolore architecto, consequatur rem, dolores
      temporibus cum atque earum! Placeat voluptas iure adipisci repudiandae
      expedita accusamus quod rerum alias rem asperiores facere molestias nulla,
      reiciendis eum, suscipit perspiciatis quasi non porro nobis minus est
      fugit? Voluptatem ratione delectus sint a dolores quod nulla expedita
      vitae est reiciendis. Lorem ipsum dolor sit amet consectetur, adipisicing
      elit. Numquam, beatae! Qui dolores, quisquam ipsum laborum voluptatum
      labore maxime animi! Reiciendis sapiente mollitia aut, autem quod labore
      enim corporis assumenda corrupti, asperiores quos. Nostrum eum cupiditate
      placeat perspiciatis nam, iure, saepe quas possimus, inventore magnam ut.
      Omnis nulla vero magni, excepturi id pariatur. Iusto incidunt
      reprehenderit exercitationem facere. Est, dicta totam. Reiciendis aut
      quibusdam cupiditate sequi? Debitis libero maiores, voluptatum quia optio
      facere nostrum culpa, eligendi dolores dolor nobis nam doloremque?
      Architecto, natus est quos culpa accusantium, explicabo similique
      veritatis soluta expedita rerum tenetur assumenda id ea atque, animi
      molestiae odit saepe sit voluptates consectetur quod eaque quia doloremque
      pariatur! Voluptates vero perspiciatis, iure dolorem molestias in ullam
      aut laboriosam ut numquam ipsum qui pariatur, vitae facere quos sit
      temporibus expedita voluptatum explicabo alias deleniti doloribus. Neque,
      ea. Quia ipsa explicabo ipsum? Sit quae id vero sed atque soluta iusto
      doloremque mollitia dignissimos, optio quam magni a modi praesentium
      veritatis eaque natus distinctio ratione odit quo quibusdam dolorum
      adipisci voluptas pariatur? Nobis ipsa quisquam id dicta mollitia at quod
      repudiandae blanditiis iste, eveniet eum ullam rerum accusantium ea.
      Architecto eius, corporis suscipit molestias repellat tempore magnam
      reiciendis maiores repudiandae. Nihil debitis beatae minima ab libero
      provident aliquid quisquam eum nulla doloribus ex eaque, quidem aspernatur
      sed distinctio dolor quos culpa facilis molestias fugit tenetur
      perspiciatis? Exercitationem nesciunt in, facilis, ullam odit
      necessitatibus pariatur modi, soluta reiciendis voluptates molestiae id
      aspernatur ad beatae similique minima minus? Obcaecati laboriosam velit
      repellendus consequuntur minus. Odio magni quaerat quas! Modi facere
      repellendus ratione esse accusamus, debitis molestias odit delectus sunt
      optio consectetur aliquid. Voluptatum assumenda repellendus dolorem amet
      voluptatibus. Doloremque ipsam atque ullam beatae. Nisi corporis, optio
      voluptate soluta vel dolorum voluptas? Recusandae sunt officia id nam
      eveniet doloribus ratione, numquam atque ducimus nihil minima similique.
      Optio consequuntur quasi, tempore consequatur dolorum vitae totam a
      reprehenderit nam dolorem officia nesciunt eos voluptatibus provident quod
      perspiciatis excepturi cupiditate quaerat eaque! Provident odio
      dignissimos assumenda hic doloremque, nostrum ipsa! Delectus amet
      explicabo quam, impedit ullam ut deserunt aut harum nesciunt distinctio
      nemo deleniti, at ab, quibusdam inventore. Iure ipsum accusamus dolorem.
      Sapiente itaque sequi eligendi voluptatem corrupti fugit rem beatae,
      doloremque, facilis enim magni, ut dolor. Excepturi quisquam architecto
      numquam, consequatur quaerat similique perferendis blanditiis rem.
      Veritatis, aliquid? Cumque ipsam similique perspiciatis tempora fugit
      explicabo repudiandae dolorem reiciendis repellat, sit odio at dicta unde
      fugiat architecto, magnam exercitationem optio ea laudantium. Laudantium
      ad, quasi doloremque fugit ea nobis modi distinctio ipsum voluptatem
      dolorem quas nulla saepe placeat natus velit, ab cum? Laborum, nisi odio.
      Optio non incidunt tenetur iure repellendus quae veritatis laudantium
      debitis distinctio omnis inventore perferendis voluptatum aspernatur,
      blanditiis, fugit numquam. Incidunt itaque nam magnam dolorem autem quo
      placeat nobis ipsa asperiores. Aliquid quae reiciendis maiores dignissimos
      optio recusandae inventore magnam ducimus quaerat veniam. Quo libero
      dolorum corrupti impedit beatae odio est mollitia qui ullam, placeat
      facere veniam hic repellendus iste expedita rerum cum officiis et odit!
      Beatae suscipit officiis distinctio accusamus omnis eum voluptatum.
    </div>
  </div>

<angular-post-footer/>
