<div id="algn w-full">
  <div id="container"  class="m-auto">
      <p class="head">Register</p>
      <form action="/" class="input-container">
          <input type="email" placeholder="Enter email" class="inpt" required>
          <input type="password" placeholder="Enter password" class="inpt" required>
          <button value="submit" class="btn">Login</button>
      </form>
      <p class="footer">Already have an account? <a href="login" routerLink="register">Login</a></p>
  </div>
  </div>
