<div class="grid grid-cols-[30%,67%,3%] min-h-screen">
  <!-- Left Column (30%) -->
  <div id="left" class="sticky top-0 h-screen box-border bg-white">
    <div class="w-full bg-white h-[12rem] flex items-center">
      <hr class="bg-black w-full" />
    </div>
    <angular-post-menu class="bg-white"></angular-post-menu>
  </div>

  <!-- Right Column (67%) -->
  <div id="right" class="bg-black text-white">
    <angular-post-header class="fixed w-8/12 bg-black h-[12rem]" />
    <div class="pt-[12rem]">
      <router-outlet class="bg-black rounded-bl-lg" />
    </div>
  </div>

  <!-- Third Column (3%) -->
  <div class="b-white">
    <div class="w-full bg-white h-[12rem] flex items-center">
      <hr class="fixed bg-black w-full" />
    </div>
  </div>
</div>

