<div class="header-container grid grid-cols-[1%,98%,1%] md:grid-cols-[10%,80%,10%] xl:grid-cols-[20%,60%,20%]">
  <div class="h-[10px] md:h-[12rem] flex items-center">
  </div>
  <div class=" bg-black " >
    <img src="assets/images/logo.png " alt="Logo of Angular Post" class=""/>
  </div>
  <div class="h-[10px] md:h-[12rem] flex items-center">
  </div>
</div>

<div class="header-container grid grid-cols-[1%,98%,1%] md:grid-cols-[10%,80%,10%] xl:grid-cols-[20%,60%,20%]">
  <div class="h-[12rem] flex items-center invisible md:visible">
    <hr class="bg-black w-full" />
  </div>
  <div class="bg-black" >
    <angular-post-header />
  </div>
  <div class="h-[12rem] flex items-center invisible md:visible">
    <hr class="bg-black w-full" />
  </div>
</div>


<div class="grid grid-cols-[1%,98%,1%] md:grid-cols-[10%,80%,10%] xl:grid-cols-[20%,60%,20%] min-h-screen">
  <div></div>
  <div id="right" class="bg-black text-white">

    <div class="">
      <router-outlet class="bg-black rounded-bl-lg" />
    </div>
  </div>
  <div></div>
</div>