<ng-container *ngTemplateOutlet="authFrom"></ng-container>

<ng-template #authFrom>
  <div
    id="algn"
    class="w-full"
  >
    <div
      id="container"
      class="m-auto"
    >
      <p class="head">Login</p>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="submitForm()"
        class="input-container"
      >
        <input
          type="email"
          placeholder="Enter email"
          class="inpt"
          formControlName="email"
          required
        />
        <input
          type="password"
          placeholder="Enter password"
          class="inpt"
          formControlName="password"
          required
        />
        <button
          type="submit"
          class="btn mt-[1rem]"
          [disabled]="!loginForm.valid"
        >Login</button>
      </form>
      <p class="footer">
        Don't have an account?
        <a
          href="login"
          routerLink="/register"
        >Register</a>
      </p>
      <hr class="w-full" />
      <div class="container-sign-in w-[50%]">
        <img
          src="../../../assets/images/sign-in-google.png"
          alt="block"
          class="mb-[1rem]"
          (click)="signInGoogle()"
        />
      </div>
    </div>
  </div>
</ng-template>