@if(!isLogged) {
<ng-container *ngTemplateOutlet="authentication"></ng-container>
} @else {
<ng-container *ngTemplateOutlet="userLogged"></ng-container>
}

<ng-template #authentication>
  <div
    id="algn"
    class="w-full"
  >
    <div
      id="container"
      class="m-auto"
    >
      <p class="head">Login</p>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="submitForm()"
        class="input-container"
      >
        <input
          type="email"
          placeholder="Enter email"
          class="inpt"
          formControlName="email"
          required
        />
        <input
          type="password"
          placeholder="Enter password"
          class="inpt"
          formControlName="password"
          required
        />
        <button
          type="submit"
          class="btn mt-[1rem]"
          [disabled]="!loginForm.valid"
        >Login</button>
      </form>
      <p class="footer">
        Don't have an account?
        <a
          href="login"
          routerLink="/register"
        >Register</a>
      </p>
      <hr class="w-full" />
      <div class="container-sign-in w-[50%]">
        <img
          src="../../../assets/images/sign-in-google.png"
          alt="block"
          class="mb-[1rem]"
          (click)="signInGoogle()"
        />
      </div>
    </div>
  </div>
</ng-template>

<ng-template #userLogged>
  <h1>You are logged in</h1>
  <h2 (click)="signOut()">Logout</h2>
</ng-template>

<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '{your-app-id}',
      cookie: true,
      xfbml: true,
      version: '{api-version}',
    });

    FB.AppEvents.logPageView();
  };

  (function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js';
    fjs.parentNode.insertBefore(js, fjs);
  })(document, 'script', 'facebook-jssdk');
</script>