<div class="container w-[70%] text-center m-auto">
  <form>
    <p>
      <label for="title">Title</label>
      <br>
      <input
        type="text"
        name="title"
        id="title"
        class="w-full"
      >
    </p>
    <p>
      <label for="text">Text</label>
      <br>
      <input
        type="text"
        name="text"
        id="text"
        class="w-full"
      >
    </p>
    <p>
      <label for="youtubeId">Youtube Video ID</label>
      <br>
      <input
        type="text"
        name="youtubeId"
        id="youtubeId"
        class="w-full"
      >
    </p>
    <br>
    <button>Submit</button>
  </form>
</div>